.l2osall{
    margin-left: 75px;
    margin-right: 75px;
}

.l2osh{
    position: relative;
    bottom: 350px;
    left: 600px;
}

.l2osp{
    width: 50%;
    position: relative;
    bottom: 330px;
    left: 600px;
}

.l2os1{
    position: relative;
    bottom: 490px;
    left: 560px;
    padding-left: 40px;
}

.mob{
    position: relative;
    left: 400px;
}

.l2osh2{
    position: relative;
    bottom: 300px;
    left: 350px;
}

.l2osp2{
    width: 50%;
    position: relative;
    bottom: 280px;
}

.l2os2{
    position: relative;
    bottom: 450px;
    left: 350px;
    padding-right: 40px;
}

.pc{
    position: relative;
    right: 365px;
}

.l2osh3{
    position: relative;
    bottom: 350px;
    left: 600px;
}

.l2osp3{
    width: 50%;
    position: relative;
    bottom: 330px;
    left: 600px;
}

.l2os3{
    position: relative;
    bottom: 400px;
    left: 560px;
    padding-left: 40px;
}

.s{
    position: relative;
    left: 550px;
}

.l2osh4{
    position: relative;
    bottom: 280px;
    left: 500px;
}

.l2osp4{
    width: 60%;
    position: relative;
    bottom: 260px;
}

.l2os4{
    position: relative;
    bottom: 250px;
    left: 450px;
    padding-right: 40px;
}