.l4cah{
    margin-bottom: 150px;
    text-align: center;
}

.ooool{
    margin: 0px 75px;
}

.l4caimall{
    height: 60px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.l4cawho{
    text-align: center;
    width: 332px;
height: 240px;
}

.l4cah{
    position: relative;
    top: 5px;
}

.l4cap{
    margin-left: 40px;
    margin-right: 40px;
    position: relative;
    top: 15px;
}