.l1osall{
    margin-left: 75px;
    margin-right: 75px;
}

.l1osh{
    text-align: center;
    margin-top: 13rem;
    font-size: 40px;
}

.l1ost{
    word-wrap: break-all;
    width: 45%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

.l1osf{
    width: 100%;
    position: relative;
    right: 200px;
    bottom: 50px;
}